* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

input {
  font-size: 16px;
  padding: 4px;
}

.container {
  position: relative;
  width: 80%;
}

#suggestions {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
}

#suggestions.hidden {
  opacity: 0;
  z-index: -2;
}

#party {
  width: 80%
}

.result {
  width: 50%;
  min-width: 300px;
}

.row {
  margin-top: 1em;
}

.row label {
  display: block;
  min-width: 10em;
}

.row input, .row textarea {
  width: 100%;
}

.suggestion-container {
  background: #f0f0f0;
  padding: 10px;
  cursor: pointer;
}

.suggestion-container:hover .suggestion-container__title {
  color: #1bbeff;
}

.suggestion-container__title {
  font-size: 20px;
  font-weight: 500;
  transition: .3s;
}
